<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Welcome | Versa IMS</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

  <div class="section_one">

    <div class="mt3">
      <label class="db fw4 lh-copy f6" for="email-Title">Title</label>
      <input readonly class="pa2 input-reset ba bg-transparent w-100 measure" name="Title" value="<%= model.title %>" />
    </div>

    <div class="mt3">
      <label class="db fw4 lh-copy f6" for="Author">Author</label>
      <input readonly class="pa2 input-reset ba bg-transparent w-100 measure" name="Author" value="<%= model.author %>" />
    </div>

    <div class="mt3">
      <label class="db fw4 lh-copy f6" for="Comments">Comments</label>
      <textarea readonly class="pa2 input-reset ba bg-transparent w-100 measure" name="Comments" maxlength="32000" rows="7">
        <%= model.comments %>
      </textarea>
    </div>
  </div>
    
</body>

</html>