<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>AppTestPG</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div class="navbar">
        <a class="navbar_brand" href="#" title="Home">
          <img src="assets/images/logblack-edit.png" class="logo" alt="Versa">
        </a>
      
        <div class="navbar_item">
          <a class="" href="#">Invest</a>
          <a class="" href="#">How it works</a>
          <a class="" href="#">Contact Us</a>
          <a class="button" href="#0">Login</a>
          <a class="button_one" href="#0">Signup</a>
        </div>
    </div>

</body>

</html>